body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#ecedf6;
}
.container{
    display: flex;
    background-color:plum;
    justify-content: center;
    align-items: center;  
}
.nav{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(45, 8, 234);
    justify-content: space-between;
    font-size: 20px;
}

.prfl {
    width: 100px;
    height: 40px;
    margin: auto;
    justify-content: center;
}

.namaAwal{
    color: rgb(255,0 ,0);
    background-color: rgb(45, 8, 234);
}
.namaAkhir{
    color: rgb(244, 244, 244);
    background-color: rgb(45, 8, 234);
}
.merek{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    padding: 40px;
    justify-content: left;
    align-items: left;
    background-color: rgb(45, 8, 234);
}
ul{
    color: white;
    padding: 18px;
   
}
.navigasi{
    display: flex;
    align-items: center;
    margin: 5px;
    
}
.navigasi > li {
    list-style-type:none ;
    padding: 15px;
    font-size: 25px;
    background-color: rgb(45, 8, 234);
}
.navigasi > li >a:hover{
    color: red;
    transition: all .5 ease-in-out;
}
.navigasi > li > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 8, 234);
}

